@import (inline) 'normalize.css/normalize.css';

@red: #cb0b0b;
@darkRed: #4c0909;
@black: #000000;
@white: #ffffff;
@pink: #ff00e4;
@violet: #bb66ff;
@lightviolet: #d2d2d2;
@lightorange: #e8b04a;
@lightblue: #8adbef;

@orbitron: 'Orbitron', sans-serif;
@rockSalt: 'Rock Salt', serif;

.paragraphColor(@color, @color2) {
  color: @color2;
  text-shadow: 0px 0px 4px @color, 0px 0px 4px @color;
}

body {
  background-color: @black;
  padding-top: 90px;
}

footer {
  padding: 20px;
  text-align: center;
  color: @white;
  display: block;
  font-family: @orbitron;
  font-size: 16px;
  margin: 10px 0px 30px;
  text-shadow: 0px 0px 15px @red, 0px 0px 10px @red, 0px 0px 5px @red, 0px 0px 2px @red;
}

header {
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;

  nav {
    background: @black;
    box-shadow: 0px 5px 15px @black;
    text-align: center;
    width: 100%;

    a {
      color: @white;
      display: inline-block;
      font-family: @orbitron;
      height: 60px;
      letter-spacing: 1px;
      line-height: 60px;
      min-width: 70px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      width: 100px;

      @media (max-width: 450px) {
        width: 50px;
        font-size: 12px;
      }

      &:hover {
        text-shadow: 0px 0px 10px @pink, 0px 0px 13px @pink, 0px 0px 16px @pink;
      }
    }
  }
}

section {
  min-height: 300px;
  padding-bottom: 60px;

  .content {
    color: @white;
    margin: 0px auto;
    max-width: 900px;
    padding: 20px 50px;
    text-align: justify center;
    width: 100%;

    #ty {
      display: none;
      p {
        color: #3dff00;
      }
    }

    .trailer {
      font-style: italic;
      color: red;
      font-size: 14px;
    }

    @media (max-width: 1000px) {
      max-width: 740px;
      padding: 20px 30px;
    }

    @media (max-width: 800px) {
      max-width: 500px;
      padding: 20px 30px;
    }

    @media (max-width: 560px) {
      max-width: 92%;
      padding: 20px 4%;
    }
  }

  &.video {
    img {
      height: auto;
      width: 100%;
    }

    .video-container {
      height: 0px;
      padding-bottom: 56.25%;
      position: relative;
      width: 100%;
    }

    .video {
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }
  }

  &.about {
    margin-top: -230px;
    overflow: hidden;
    background: url('../images/small-grid.png') center center no-repeat;
    background-size: cover;

    p {
      animation: textShadow 25s infinite;
      animation-timing-function: linear;
      color: #dcdcdc;
      font-family: 'Aldrich', sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 0px auto 15px;
      max-width: 640px;
      padding: 0px 10px 10px;
      text-align: center;

      span {
        color: @lightblue;

        &.orange {
          color: @lightorange;
        }
      }

      @media (max-width: 450px) {

      }

    }
  }

  &.events {
    background: url('../images/lines.png') center center no-repeat;
    background-size: contain;
    position: relative;

    .gallery-arrow {
      background: no-repeat center center;
      background-size: 60px 60px;
      bottom: 10px;
      cursor: pointer;
      height: 60px;
      left: 50%;
      position: absolute;
      width: 60px;
      z-index: 100;
    }

    .gallery-prev {
      background-image: url('../images/prev-btn.png');
      margin-left: -100px;
    }

    .gallery-next {
      background-image: url('../images/next-btn.png');
      margin-right: 100px;
    }

    .gallery {
      box-shadow: 0px 0px 6px @black;
      cursor: pointer;
      display: block;
      margin: 10px auto;
      max-width: 600px;
      padding: 10px;
      text-align: center;

      img {
        height: auto;
        margin: 0px auto;
        max-height: 300px;
        max-width: 600px;

        @media (max-width: 600px) {
          max-height: 180px;
          max-width: 320px;
        }
      }
    }
  }

  &.register {
    background: url('../images/small-grid.png') center center no-repeat;
    background-size: cover;

    .content {

      p {
        animation: textShadow 25s infinite;
        animation-timing-function: linear;
        color: #dcdcdc;
        font-family: 'Aldrich', sans-serif;
        font-size: 18px;
        line-height: 28px;
        margin: 0px auto 15px;
        max-width: 640px;
        padding: 0px 10px 10px;
        text-align: center;

        .email {
          color: @violet;
        }
      }
    }

    form {
      font-family: @orbitron;
      margin: 0px auto;
      width: 320px;

      label {
        color: @white;
        display: block;
        font-family: @rockSalt;
        font-size: 16px;
        margin: 10px 0px 30px;
        text-shadow: 0px 0px 15px @red, 0px 0px 10px @red, 0px 0px 5px @red, 0px 0px 2px @red;
      }

      input {
        background: transparent;
        border: 0px;
        border-bottom: 2px solid @white;
        box-sizing: border-box;
        height: 20px;
        line-height: 20px;
        margin-bottom: 30px;
        outline: none;
        padding: 10px;
        text-align: center;
        width: 100%;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: @white;
          font-size: 12px;
        }

        &::-moz-placeholder { /* Firefox 19+ */
          color: @white;
          font-size: 12px;
        }

        &:-ms-input-placeholder { /* IE 10+ */
          color: @white;
          font-size: 12px;
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: @white;
          font-size: 12px;
        }

        &[type='submit'] {
          border: 1px solid @red;
          color: @red;
          font-family: @rockSalt;
          font-size: 20px;
          height: 50px;
          line-height: 20px;
          margin-top: 20px;
          vertical-align: middle;

          &:hover {
            border-color: @darkRed;
            box-shadow: none;
            color: @darkRed;
            text-shadow: 0px 0px 15px @red, 0px 0px 10px @red, 0px 0px 5px @red, 0px 0px 2px @red;
          }
        }
      }

      a.add-another {
        color: @red;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }

  &.home {

    .u2i {
      left: 50%;
      margin: 0px auto;
      margin-left: -100px;
      opacity: 0.9;
      position: absolute;
      top: 100px;
      width: 200px;

      img {
        height: auto;
        width: 100%;
      }

      @media (max-width: 950px) {
        top: 50px;
        width: 150px;
        margin-left: -75px;
      }

      @media (max-width: 450px) {
        top: 60px;
        width: 100px;
        margin-left: -50px;
      }
    }

    .bgVideo {
      position: relative;
      z-index: -10;

      video {
        display: block;
        height: 100%;
        margin: 0px auto;
        max-width: 1280px;
        width: 100%;
      }
    }

    .grid {
      background: url('../images/grid.png') no-repeat top center;
      background-size: cover;
      height: 200px;
      margin-top: -150px;
      padding: 50px 0px 50px;
      width: 100%;

      @media (max-width: 750px) {
        margin-top: -100px;
      }

      @media (max-width: 550px) {
        margin-top: -50px;
      }
    }
  }
}

svg {
  display: block;
  margin: 0px auto;

  &.sectionTitle {
    text {
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  &.svgBtn {
    cursor: pointer;
    fill: none;

    text {
      fill: @red;
      font-size: 25px;

      &.shadow {
        fill: @darkRed;
      }
    }

    .btnStroke {
      stroke: @red;

    }

    &:hover {
      .btnStroke {
        stroke: @darkRed;
      }
    }
  }
}


@keyframes textShadow {
  0% {
    text-shadow: 0px 0px 4px @violet;
  }

  33% {
    text-shadow: 0px 0px 4px @lightblue;
  }

  66% {
    text-shadow: 0px 0px 4px @lightorange;
  }

  100% {
    text-shadow: 0px 0px 4px @violet;
  }
}
