
@import (inline) "normalize.css/normalize.css";

body {
  background-color: #000;
}

svg.sectionTitle {
  display: block;
  margin: 0 auto;
  text {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
  }
}
