doctype html
html(lang="en")
  head
    title Yo! Gulp Less Jade
    link(rel='stylesheet', href='/styles/main.css')
    link(href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Orbitron:400,500,700,900&amp;subset=latin-ext" rel="stylesheet")
  body
    block content

