doctype html
html(lang="en")
  head
    title Yo! Gulp Less Jade
    link(rel='stylesheet', href='/styles/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Caveat|Condiment|Just+Me+Again+Down+Here|Kristi|Nothing+You+Could+Do|Orbitron:400,500,700,900|Over+the+Rainbow|Rock+Salt&amp;subset=latin-ext" rel="stylesheet")
  body
    block content


