doctype html
html(lang="en")
  head
    title u2i Coding Challenge
    link(rel='stylesheet', href='styles/magnific-popup.css')
    link(rel='stylesheet', href='styles/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Aldrich|Orbitron:400,500,700,900|Rock+Salt&amp;subset=latin-ext" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="scripts/jquery.magnific-popup.js")
    script(src="scripts/scripts.js")
  body
    block content

JS



